@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,700&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

nav {
    background-color: #FFFFFF;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100px;
    color: black;
    display: flex;
    align-items: center;
}

.primary-color {
    color: #FF42A5;
}

.primary-btn {
    padding: 10px 20px;
    background-color: #FF42A5;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    margin-right: 10px;
}

.sign-btn {
    background-color: #1EA4FD
}

.nav-title {
    font-size: 40px;
    font-weight: 700;
}

.nav-logo,
.nav-menu-list {
    width: 50%;
    /* border: 1px solid turquoise; */
}


.nav-logo {
    display: flex;
    align-items: center;

}

.nav-logo img {
    width: 86.041px;
    height: 40px;
    margin-right: 10px;
}

.follow-item {
    background-color: #E7E6E9;
    border-radius: 8px;
    padding: 5px;
}

.follow-item i {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
    color: red;
}

.follow-item .fa-tiktok {
    color: black;
}

.nav-menu-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-menu-list li {
    list-style: none;

}

.nav-menu-list li>a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

/* banner-style-start */
.banner-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.banner-content {
    width: 50%;
    /* border: 1px solid tomato; */
}

.banner-description>a {
    color: #534C64;
    font-size: 50px;
    font-weight: 500;

}

.btn-content {
    margin-top: 20px
}

.fa-solid,
.fa-regular {
    margin-right: 10px;
    color: red;

}

.banner-title {
    color: #0B0223;
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content h1 {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;
}

.banner-img {
    width: 50%;
    /* border: 1px solid rgb(45, 42, 41); */
}

.banner-content a {
    text-decoration: none;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    line-height: normal;
}

.icon {
    margin-bottom: 30px;
}

.banner-img img {
    width: 100%;
    object-fit: cover;
}

/* banner-style-end */

/* gamer-style-start */
.gamer-container {

    max-width: 1200px;
    margin: 50px auto 0;
    display: flex;
    gap: 30px;
}

.gamer-image {
    width: 60%;
    /* background-color: peru; */
}

.gamer-image img {
    width: 100%;


}

.gamer-content {
    width: 40%;
    /* background-color: purple; */
    text-align: right;
    padding: 20px;
}

.gamer-title {
    font-size: 45px;
    font-weight: 800;
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;

}

.gamer-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin: 20px 0;
}

.gamer-content button {
    margin-bottom: 20px;
}

.unleash {
    color: #534C64;
    font-size: 24px;
    font-weight: 700;
}

/* gamer-style-end */

/* online-game-style */

.online-game-section {
    max-width: 1200px;
    margin: 100px auto 0;
    text-align: center;
}

.online-game-section .title {

    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.online-game-section p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.card {
    width: 342px;
    height: 400px;
}


.card img {
    width: 100%;
}

.card-container {
    max-width: 1200px;
    margin: 50px auto 0;
    display: flex;
    gap: 10px;

}

.card p {

    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

/* end-online-game-style */

/* style-start-play-section */
.play,
.game {
    max-width: 1200px;
    margin: 100px auto 0;
    display: flex;
    align-items: center;

}

.game {
    flex-direction: row-reverse;
}

.play-content {
    margin-right: 170px;
    text-align: right;

}


.play-content .play-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 10px;
}

.play-content p,
.game-content p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px
}

.top-img {
    position: relative;
}

.bottom-img {
    position: absolute;
    margin-top: -300px;
    margin-left: -120px;
}

/* game */
.game-content {
    margin-left: 120px;
    text-align: left;

}

.game-content .game-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 10px;
}

.left-img {
    position: relative;
}

.right-img {
    position: absolute;
    margin-top: -300px;
    margin-left: 500px;
}

/* end-play-game-style */



/* start-careers-style */
.Careers {
    background-color: #FF42A5;
    color: white;
    margin-top: 150px
}

.careers-title {
    color: #FFF;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 20px;
}

.careers-container {
    width: 1200px;
    margin: 50px auto 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

.careers-content,
.careers-images {
    width: 50%;
}

.careers-description {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.Multimedia-content {
    display: flex;

}



.data li {
    color: #FFF;
    font-size: 15px;
    font-weight: 600;

}

.see-all {
    margin-top: 20px;
    background-color: white;
    color: #F948B2;

}

.country,
.data {
    width: 50%;
}

.careers-images img {
    width: 100%;
}

/* careers-style */

/* icons-style */
.icon-container {
    max-width: 1200px;
    margin: 150px auto 100px
}

.icon-content {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.icons {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

}

.single-icon {
    width: 220px;
    height: 60px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.single-icon:hover {

    cursor: pointer;
    border: 1px solid tomato;
}

.single-icon p:hover {
    color: tomato;
}

.single-icon p {
    color: #0B0223;
    font-size: 18px;
    font-weight: 600;
}

.single-icon img {
    width: 50px;
    height: 50px;
}

/* footer */
footer {
    width: 100%;
    background-color: #0B0223;
    height: 400px;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}

.footer-title {
    display: flex;
    margin: 0 auto;
    justify-content: center;

}

.footer-title img {
    margin-right: 20px;
}

.footer-description,
.description {
    width: 800px;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    text-align: center;
    justify-content: center;

}


.footer-icon a {
    color: white;
    font-size: 30px;
    margin-right: 10px;
}

.description,
.footer-last-item {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

/* end-footer */